name: Spell Check

on: [push, pull_request, workflow_dispatch]

jobs:
  typos-check:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v4
      - name: Check spelling
        uses: crate-ci/typos@v1.18.2
        with:
            args: --exclude **/*.txt --exclude **/*.pvsm
